<!DOCTYPE html>
<html lang="en">
    <%- include header %>
<body>

    <% include nav %>
      <div class="jumbotron">
        <h1>Rate Buisnesses</h1>
        <p class="lead">Rate the buisness with new RateMe app.... Enjoy</p>
        <p><a class="btn btn-lg btn-success" href="/signup" role="button">Sign up today</a></p>
      </div>
    </div>
      <%- body -%>
<% include footer %>

</body>
</html>